<ion-view title="APADEA">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content id="homePage" class="has-header" padding="true">
    <h1 class="title">PECS</h1>
    <ion-scroll class="faseList">
      <ion-list>
        <ion-item ng-class="{'selected': fase.selected}" ng-repeat="fase in fases" ng-click="selectFase(fase)">
          {{fase.name}}
        </ion-item>
      </ion-list>
    </ion-scroll>
    <div class="buttonContainer">
      <a href="#/app/phaseCards" class="button button-positive">
        Ir
      </a>
    </div>
  </ion-content>

</ion-view>
