<ion-view title='APADEA'>
  <ion-nav-buttons side='left'>
    <button menu-toggle='left' class='button button-icon icon ion-navicon'></button>
  </ion-nav-buttons>

  <ion-content id='home-page' class='has-header' padding='true'>
    <h1 class='title'>PECS</h1>
    <ion-scroll class='phase-list'>
      <ion-list>
        <ion-item ng-class='{"selected": phase.selected}' ng-repeat='phase in phases' ng-click='selectPhase(phase)'>
          {{phase.name}}
        </ion-item>
      </ion-list>
    </ion-scroll>
    <div class='button-container'>
      <a href='#/app/phaseCards' class='button button-positive'>
        Ir
      </a>
    </div>
  </ion-content>
</ion-view>
