<ion-view title='PICTOGRAMAS'>

  <ion-nav-buttons side='right'>
    <a ng-click='ask()' class='button button-icon icon ask-icon'></a>
    <a ui-sref='app.singleCard'
      class='button button-icon plus-icon'
      ng-hide='eraser.showConfirmAndHideAddButton'>
    </a>
  </ion-nav-buttons>

  <ion-content class='has-header item-list'>

    <label class="item item-input list-search-input">
      <i class="icon search-icon"></i>
      <input type="text" placeholder="BÚSQUEDA" ng-model='search.title'>
    </label>

    <ion-list class='list' show-delete="eraser.showDelete" ng-model="eraser.showDelete">
      <ion-item class='item-thumbnail-left item-icon-right' ng-repeat='card in cards | filter:search' modelToDelete='card' cm-deletegestures ng-class='{"disabled": card.enabled === "false"}'>
        <ion-delete-button class="ion-minus-circled" ng-click='eraser.selectToDelete(card)'></ion-delete-button>
        <img ng-src='{{card.img}}'>
        <p class='text-area angular-center-container angular-centered normal-item' ng-class="eraser.currentCSSClass(card)">{{card.title}}</p>
        <i class='icon'></i>
      </ion-item>
    </ion-list>

    <div ng-show='loaded && !cards.length'>
      <h4 class="empty-notice">No hay pictogramas disponibles</h4>
    </div>

  </ion-content>

  <div ng-include="'templates/common/delete_bar.html'" ng-controller="deleteBarCtrl"></div>
</ion-view>