<form name="cardForm" novalidate>
  <ion-view hide-nav-bar="true">
    <div class="bar bar-header bar-stable">
      <h1 class="title">{{creating? "Nuevo Pictograma" : "Editar Pictograma"}}</h1>
    </div>
    <ion-content class='has-header'>
      <div class='item item-input card'>
        <input type='text' name='cardTitle' ng-model='card.title' placeholder='Nombre del Pictograma' validator="required, inRange, inList">
      </div>

      <div id='image' class='item item-image card' ng-click="uploadImage()">
        <img ng-src='{{card.img}}'>
        <input ng-show='false' type='text' name='photoSrc' ng-model='card.img' validator="photoRequired">
      </div>

      <div>
        <ion-checkbox ng-model="card.enabled" ng-checked="card.enabled">
          <label>Habilitado</label>
        </ion-checkbox>
      </div>
      <div class='form-buttons'>
      <!-- Reemplazar función de "cancelar" por el evento "back button pressed" que dispare goBack() -->
        <a id='accept'
          class='button icon-left button-positive button-block'
          ng-click='save();'
          validation-submit="cardForm">
            Aceptar
        </a>
      </div>
    </ion-content>
  </ion-view>
</form>