<ion-view title='Conexión al servidor'>
  <ion-content class='has-header'>
    <h4>Configurar conexión al servidor</h4>
    <ion-checkbox>Sinconizar automaticamente</ion-checkbox>
    <button class="button button-positive" ng-click='synchronize();'>Sincronizar ahora</button>

    <h5>Última sincronización: {{lastSynchronizationTime ? lastSynchronizationTime : "aún no se ha realizado una sincronización" }}</h5>

    <div class='server-form-buttons'>
      <a id='cancel' class='button icon-left ion-close-round button-assertive' ng-click='goBack();'>Cancelar</a>
      <a id='accept' class='button icon-left ion-checkmark-round button-balanced' ng-click='save();'>Aceptar</a>
    </div>
  </ion-content>
</ion-view>
