<form name="severForm">
  <ion-view title='CONEXIÓN AL SERVIDOR'>
    <ion-content class='has-header'>
      <label class="item info-label">
        ÚLTIMA SINCRONIZACIÓN: {{lastSyncTime ? lastSyncTime : "AÚN NO SE HA REALIZADO" }}
      </label>
      <div class='list list-inset' ng-controller="configurationsServerCtrl">
        <div class="button form-button button-centered" ng-click='sync();'>
          Sincronizar ahora
        </div>
        <ion-checkbox ng-model="autoSyncEnabled" ng-change="toggleAutoSync(autoSyncEnabled);">Sinconizar automaticamente</ion-checkbox>
        <label class="item info-label">
          HERRAMIENTAS DE DESARROLLADOR
        </label>
        <div ng-show="!userSet" class="margened">
          <label>Recuerde agregar un usuario en:</label>
          <br>
          <label>Configuración -> Configurar Usuario</label>
        </div>
        <label class='item item-input'>
          <input type='text' name="baseURL" ng-model='baseURL' placeholder='URL del servidor'>
        </label>
        <button class="button button-centered button-assertive form-button" ng-click='clear();'>Borrar datos no sincronizados</button>
        <div class='form-buttons'>
          <a id='accept' class='button button-block button-positive' ng-click='save();'>Aceptar</a>
        </div>
      </div>
    </ion-content>
  </ion-view>
</form>
