<ion-view title='CRÉDITOS'>
  <ion-content class='credits has-header'>
    <ion-list class='list-inset card'>
      <h5 class="item">Agradecemos a las siguientes organizaciones por hacer posible este proyecto:</h5>
      <ion-item class="item-avatar">
        <img src="img/apadea-logo.png" alt="">
        <h2>APADEA</h2>
        <p>Asociacion Argentina de Padres de Autistas</p>
      </ion-item>
      <ion-item class="item-avatar">
        <img src="img/utn-logo.png" alt="">
        <h2>UTN FRBA</h2>
        <p>Universidad Tecnológica Nacional - <small>Facultad Regional Buenos Aires</small></p>
      </ion-item>
      <ion-item class="item-avatar">
        <img src="img/globant-logo.png" alt="">
        <h2>Globant</h2>
        <p>Software Development Company</p>
      </ion-item>
   </ion-list>
  </ion-content>
</ion-view>
