<form name="userForm" novalidate>
  <ion-view title='Usuario'>
    <ion-content class='has-header'>
      <div class='list list-inset'>
        <label class='item item-input'>
          <input type='text' name='name' ng-model='user.name' placeholder='Nombre *' validator='required'>
        </label>
        <label class='item item-input'>
          <input type='text' name='lastName' ng-model='user.lastName' placeholder='Apellido *' validator='required'>
        </label>
        <label class='item item-input'>
          <input type='text' name='birthdate' ng-model='user.birthdate' placeholder='Fecha de nacimiento *' validator='required'>
        </label>
        <div class='form-buttons'>
          <a id='cancel' class='button icon-left ion-close-round button-assertive' ng-click='goBack();'>Cancelar</a>
          <button id='accept' validation-submit="userForm" ng-click="save()" class='button icon-left ion-checkmark-round button-balanced'>Aceptar</button>
        </div>
      </div>
    </ion-content>
  </ion-view>
</form>