<ion-view title='{{creating? "Nuevo receptor" : "Editar receptor"}}'>
  <ion-content class='has-header'>
    <div class='list list-inset'>
      <label class='item item-input' ng-click="takePicture()">
        <img width="128" height="128" ng-src='{{receiver.avatar || defaultAvatar}}' alt="Receptor photo" >
      </label>
      <label class='item item-input'>
        <input type='text' ng-model='receiver.name' placeholder='Nombre'>
      </label>
      <label class='item item-input'>
        <input type='text' ng-model='receiver.lastName' placeholder='Apellido'>
      </label>
      <ion-checkbox ng-model="receiver.advanced">Puntuación avanzada</ion-checkbox>
      <ion-checkbox ng-model="receiver.patternActive">Usar patrón de desbloqueo</ion-checkbox>
      <button class="button button-small receiver-edit-pattern-button" ng-disabled="!receiver.patternActive">
        <i class="icon ion-edit"></i>
        Editar patrón
      </button>
      <div class='receiver-form-buttons'>
        <a id='cancel' class='button icon-left ion-close-round button-assertive' ng-click='goBack();'>Cancelar</a>
        <a id='accept' class='button icon-left ion-checkmark-round button-balanced' ng-click='save();'>Aceptar</a>
      </div>
    </div>
  </ion-content>
</ion-view>