<form name="receiverForm" novalidate>
  <ion-view title='{{creating? "Nuevo receptor" : "Editar receptor"}}'>
    <ion-content class='has-header'>
      <div class='list list-inset'>
        <label class='item item-input' ng-click="takePicture()">
          <img width="128" height="128" ng-src='{{receiver.avatar || defaultAvatar}}' alt="Receptor photo">
        </label>
        <label ng-show='cameraIsEnabled' class='item item-input' ng-click="pictureFromDevice()">
          <a class='button button-positive'>From device</a>
        </label>
        <label class='item item-input'>
          <input type='text' name="name" ng-model='receiver.name' placeholder='Nombre *' validator="required, inRange">
        </label>
        <label class='item item-input'>
          <input type='text' name="lastName" ng-model='receiver.lastName' placeholder='Apellido *' validator="required, inRange">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Vínculo</div>
          <select name='relationshipId' ng-model="receiver.relationshipId" ng-options="relationship.id as relationship.name for relationship in relationships" ng-change="checkIfAdvancedByDefault(); checkIfHasCustomName();" validator="requiredSelect"></select>
        </label>
        <label class='item item-input' ng-show="showRelationshipName">
          <input type='text' ng-model='receiver.relationshipName' placeholder='Nombre del vínculo'>
        </label>
        <ion-checkbox ng-model="receiver.advanced">Puntuación avanzada</ion-checkbox>
        <div class="button button-block" ng-click="editPattern()">
          <i class="icon ion-edit"></i>
          Editar patrón de bloqueo
          <span name="pattern" ng-model="receiver.pattern" validator="required"></span>
        </div>
        <div class='form-buttons'>
          <a id='cancel' class='button icon-left ion-close-round button-assertive' ng-click='goBack();'>Cancelar</a>
          <button id='accept' validation-submit="receiverForm" ng-click="save()" class='button icon-left ion-checkmark-round button-balanced'>Aceptar</button>
        </div>
      </div>
    </ion-content>
  </ion-view>
</form>
