<form name="registryForm" novalidate>
  <ion-view title='REGISTRO DEL INTERCAMBIO'>
    <ion-content class='has-header' id="advancedRegistry">
      <div class="list list-inset registry">
        <label class="item item-input">
          <div class="input-label">
            RECEPTOR:
          </div>
          <div class="receiver-name">
            {{registry.receiver.name + " " + registry.receiver.lastName}}
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">
            RECOJER:
          </div>
          <input type="text" style="display: none;" name="pick" validator="required" ng-model="registry.pick">
          <div class="button-bar">
            <a class="button" ng-class="{'button-positive': isScore('pick', 'withHelp')}" ng-click="changeScore('pick', 'withHelp')">Ayuda total</a>
            <a class="button" ng-class="{'button-positive': isScore('pick', 'withPartialHelp')}" ng-click="changeScore('pick', 'withPartialHelp')">Ayuda parcial</a>
            <a class="button" ng-class="{'button-positive': isScore('pick', 'withoutHelp')}" ng-click="changeScore('pick', 'withoutHelp')">Sin ayuda</a>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">
            ALCANZAR:
          </div>
          <input type="text" style="display: none;" name="reach" validator="required" ng-model="registry.reach">
          <div class="button-bar">
            <a class="button" ng-class="{'button-positive': isScore('reach', 'withHelp')}" ng-click="changeScore('reach', 'withHelp')">Ayuda total</a>
            <a class="button" ng-class="{'button-positive': isScore('reach', 'withPartialHelp')}" ng-click="changeScore('reach', 'withPartialHelp')">Ayuda parcial</a>
            <a class="button" ng-class="{'button-positive': isScore('reach', 'withoutHelp')}" ng-click="changeScore('reach', 'withoutHelp')">Sin ayuda</a>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">
            DEJAR:
          </div>
          <input type="text" style="display: none;" name="drop" validator="required" ng-model="registry.drop">
          <div class="button-bar">
            <a class="button" ng-class="{'button-positive': isScore('drop', 'withoutHelp')}" ng-click="changeScore('drop', 'withoutHelp')">Sin ayuda</a>
            <a class="button" ng-class="{'button-positive': isScore('drop', 'withPartialHelp')}" ng-click="changeScore('drop', 'withPartialHelp')">Ayuda parcial</a>
            <a class="button" ng-class="{'button-positive': isScore('drop', 'withHelp')}" ng-click="changeScore('drop', 'withHelp')">Ayuda total</a>
          </div>
        </label>
        <div class='form-buttons'>
          <a id='accept' validation-submit="registryForm" class='button button-block padding-right button-positive' ng-click='saveRegistry();'>Aceptar</a>
        </div>
      </div>
    </ion-content>
  </ion-view>
</form>
