<ion-view title='Registro del intercambio'>
  <ion-content class='has-header'>
    <div class="list list-inset">
      <label class="item item-input">
        <div class="input-label">
          Receptor
        </div>
        <div class="receiverName">
          {{registry.receiver.name + " " + registry.receiver.lastName}}
        </div>
      </label>
      <div class="item item-divider">
        Intercambio
      </div>
      <label class="item item-input item-stacked-label">
        <div class="input-label">
          <i class="icon ion-android-arrow-up-left"></i>
          Recojer
        </div>
        <div class="button-bar">
          <a class="button" ng-class="{'button-positive': isScore('pick', 'withoutHelp')}" ng-click="changeScore('pick', 'withoutHelp')">Sin ayuda</a>
          <a class="button" ng-class="{'button-positive': isScore('pick', 'withPartialHelp')}" ng-click="changeScore('pick', 'withPartialHelp')">Ayuda parcial</a>
          <a class="button" ng-class="{'button-positive': isScore('pick', 'withHelp')}" ng-click="changeScore('pick', 'withHelp')">Ayuda total</a>
        </div>
      </label>
      <label class="item item-input item-stacked-label">
        <div class="input-label">
          <i class="icon ion-android-arrow-up-right"></i>
          Alcanzar
        </div>
        <div class="button-bar">
          <a class="button" ng-class="{'button-positive': isScore('reach', 'withoutHelp')}" ng-click="changeScore('reach', 'withoutHelp')">Sin ayuda</a>
          <a class="button" ng-class="{'button-positive': isScore('reach', 'withPartialHelp')}" ng-click="changeScore('reach', 'withPartialHelp')">Ayuda parcial</a>
          <a class="button" ng-class="{'button-positive': isScore('reach', 'withHelp')}" ng-click="changeScore('reach', 'withHelp')">Ayuda total</a>
        </div>
      </label>
      <label class="item item-input item-stacked-label">
        <div class="input-label">
          <i class="icon ion-android-arrow-down-right"></i>
          Dejar
        </div>
        <div class="button-bar">
          <a class="button" ng-class="{'button-positive': isScore('drop', 'withoutHelp')}" ng-click="changeScore('drop', 'withoutHelp')">Sin ayuda</a>
          <a class="button" ng-class="{'button-positive': isScore('drop', 'withPartialHelp')}" ng-click="changeScore('drop', 'withPartialHelp')">Ayuda parcial</a>
          <a class="button" ng-class="{'button-positive': isScore('drop', 'withHelp')}" ng-click="changeScore('drop', 'withHelp')">Ayuda total</a>
        </div>
      </label>
      <div class='form-buttons'>
        <a id='cancel' class='button padding-left icon-left ion-close-round button-assertive' ng-click='goBack();'>Cancelar</a>
        <a id='accept' class='button padding-right icon-left ion-checkmark-round button-balanced' ng-click='saveRegistry();'>Aceptar</a>
      </div>
    </div>
  </ion-content>
</ion-view>