<ion-view title='REGISTRO DEL INTERCAMBIO'>
  <ion-content class='has-header' >
    <div class="list list-inset registry">
      <label class="item item-input">
        <div class="input-label">
          RECEPTOR:
        </div>
        <div class="receiver-name">
          {{registry.receiver.name + " " + registry.receiver.lastName}}
        </div>
      </label>
      <label class="item item-input item-toggle">
        <div class="input-label">
          RECOGER:
        </div>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="registry.pick">
          <div class="track">
            <div class="handle">{{registry.pick? 'SÍ': 'NO'}}</div>
          </div>
        </label>
      </label>
      <div class="question-mark-button" ng-click="toggleInfo('pick')">
        <i class="question-mark-icon" ng-class="{on: showInfo.pick}"></i>
      </div>
      <div class="step-info" ng-show="showInfo.pick">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <label class="item item-input item-toggle">
        <div class="input-label">
          ALCANZAR:
        </div>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="registry.reach">
          <div class="track">
            <div class="handle">{{registry.reach? 'SÍ': 'NO'}}</div>
          </div>
        </label>
      </label>
      <div class="question-mark-button" ng-click="toggleInfo('reach')">
        <i class="question-mark-icon" ng-class="{on: showInfo.reach}"></i>
      </div>
      <div class="step-info" ng-show="showInfo.reach">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <label class="item item-input item-toggle">
        <div class="input-label">
          DEJAR:
        </div>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="registry.drop">
          <div class="track">
            <div class="handle">{{registry.drop? 'SÍ': 'NO'}}</div>
          </div>
        </label>
      </label>
      <div class="question-mark-button" ng-click="toggleInfo('drop')">
        <i class="question-mark-icon" ng-class="{on: showInfo.drop}"></i>
      </div>
      <div class="step-info" ng-show="showInfo.drop">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class='form-buttons'>
        <a id='accept' class='button padding-right button-positive button-block' ng-click='saveRegistry();'>Aceptar</a>
      </div>
    </div>
  </ion-content>
</ion-view>