.list .item-content .normal-item {
    color:black;
    margin-top: 25px;
    font-size: 20px;
    min-height: 2px;
}
.list .item-content .selected-to-delete {
    color:#909090;
    margin-top: 25px;
    font-size: 20px;
    min-height: 25px;
    text-decoration: line-through;
}
