#home-page .title {
    text-align: center;
    margin-top: 5%;
}

.phase-list {
    height: 180px;
    border-bottom: 2px solid #CCC;
    width: 80%;
    margin: 0 auto;
    margin-top: 20%;
}

.phase-list .list .item.selected {
    background-color: #CCC;
}

#home-page .button {
    border-radius: 40px;
    margin-top: 10%;
}

#home-page .button-container {
    text-align: center;
}
