/*  ==========================================================================
  Home
  ========================================================================== */

#home-page .title {
    text-align: center;
    margin-top: 5%;
}

.level-list {
    height: 180px;
    border-bottom: 2px solid #CCC;
    width: 80%;
    margin: 0 auto;
    margin-top:20%
}

.level-list .list .item.selected {
    background-color: #CCC;
}

#home-page .button {
    border-radius: 40px;
    margin-top: 10%;
}

#home-page .button-container {
    text-align: center;
}


/*  ==========================================================================
  Cards
  ========================================================================== */

.card-list .list {
    width: 90%;
    margin: 0 auto;
}

.card-list .list .item {
    margin-bottom: 25px;
}

.card-list .list .item .card-title {
    border-top: 1px solid #CCC;
    padding: 10px;
    margin-top: 10px;
}

.card-form-buttons #accept {
    float: right;
}

/*  ==========================================================================
  Receiver
  ========================================================================== */

.receiver-list .receiver-delete {
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #666;
}

.receiver-form-buttons {
    padding-top: 20px;
}

.receiver-form-buttons #accept {
    float: right;
}

.receiver-pattern-edit ion-content {
  padding: 0 10px;
}

.receiver-pattern-error {
  color: #EF4E3A;
  font-weight: bold;
}

/*  ==========================================================================
  Registry
  ========================================================================== */

.receiver-form-buttons {
    padding-top: 20px;
}

.receiver-form-buttons #accept {
    float: right;
}


/*  ==========================================================================
  Registry
  ========================================================================== */

.registry-form-buttons {
    padding-top: 20px;
}

.registry-form-buttons #accept {
    float: right;
}

#lock {
    width: 100%;
}

#advancedRegistry .validation-container {
  display: inline-block;
  float: right;
  margin-right: 5px;
  margin-top: 7px;
}

/*  ==========================================================================
  Delete from list
  ========================================================================== */

.list .item-content .normal-item {
    color:black;
    margin-top: 25px;
    font-size: 20px;
    min-height: 2px;
}

.list .item-content .selected-to-delete {
    color:#909090;
    margin-top: 25px;
    font-size: 20px;
    min-height: 25px;
    text-decoration: line-through;
}

/*  ==========================================================================
  Validations
  ========================================================================== */

form .validation-container {
  margin-right: 4px;
}

p.validation-valid {
  font-size: 1.1em;
  color: green;
}

p.validation-invalid {
  color: #bb1f34;
}

form p.validation-invalid {
  white-space: normal;
}