/*  ==========================================================================
  Common
  ========================================================================== */

.form-buttons {
    padding-top: 20px;
}

.form-buttons #accept {
    float: right;
}

.list-search-input {
  margin: 2%;
}

.view, .pane {
    background-image: -webkit-linear-gradient(top, #198b95, #9cc7a3);
    background-image: linear-gradient(top, #198b95, #9cc7a3);
}

.view .menu-content {
  border-left: none;
  border-right: none;
}

.view .menu-content .bar-header {
  border-bottom-width: 2px;
}

.view .menu-content .bar-header .icon {
  color: #00fead;
}

.view .menu-content .bar-header h1 {
  text-align: left;
  margin-left: 0;
}

.menu .bar-header {
  border-bottom-width: 2px;
}

.menu .list .item {
  background: rgba(0, 0, 0, 0.3);
  color: #00ffae;
  margin: 2%;
}

.menu .item-content {
  background: rgba(0, 0, 0, 0.3);
}

.menu .bar-header {
  background-color: rgba(0,0,0,0);
}

/* lists */
.list .item {
  margin: 2%;
}

.list .item .item-content {
  background: rgba(0,0,0,0);
}

.list .item .item-content p {
  color: #00ffae;
}

.list .item.activated {
  color: #0C585A;
}

/* forms */
form .item {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #FFF;
  color: #FFF;
}

form .input-label {
  font-weight: normal;
}


/*  ==========================================================================
  Home
  ========================================================================== */
#home-page .level-item {
  font-size: 12px;
  padding-right: 0;
  padding-left: 0;
}

#home-page .level-item.activated {
  background: rgba(0,0,0,0.3);
  color: #00FFAE;
}

#home-page .level-item .level-main {
  position: relative;
  width: 100%;
  padding-left: 15px;
}

#home-page .level-item .level-main .level-name {
  color: #FFF;
  font-size: 16px;
  margin-left: 4%;
}

#home-page .level-item .level-main i {
  font-size: 22px;
}

#home-page .level-item .level-detail {
  position: relative;
  padding: 13px 15px 0 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 13px;
  white-space: normal;
}

#home-page .level-item .level-detail .level-init-date {
  color: #FFF;
}

#home-page .level-item .level-detail label {
  width: calc(100% - 70px);
  display: inline-block;
}

#home-page .level-item .level-detail .button {
  margin-top: 0;
  padding: 25px;
  line-height: 15px;
}

/*  ==========================================================================
  Cards
  ========================================================================== */

.card-list .list {
    width: 90%;
    margin: 0 auto;
}

.card-list .list .item {
    margin-bottom: 25px;
}

.card-list .list .item .card-title {
    border-top: 1px solid #CCC;
    padding: 10px;
    margin-top: 10px;
}

/*  ==========================================================================
  Receiver
  ========================================================================== */

.receiver-list .receiver-delete {
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #666;
}

.receiver-pattern-edit ion-content {
  padding: 0 10px;
}

.receiver-pattern-error {
  color: #EF4E3A;
  font-weight: bold;
}

/*  ==========================================================================
  Registry
  ========================================================================== */

#lock {
    width: 100%;
}

#advancedRegistry .validation-container {
  display: inline-block;
  float: right;
  margin-right: 5px;
  margin-top: 7px;
}

/*  ==========================================================================
  Delete from list
  ========================================================================== */

.list .item-content .normal-item {
    margin-top: 25px;
    font-size: 20px;
    min-height: 2px;
}

.list .item-content .selected-to-delete {
    color:#909090;
    margin-top: 25px;
    font-size: 20px;
    min-height: 25px;
    text-decoration: line-through;
}

/*  ==========================================================================
  Validations
  ========================================================================== */

form .validation-container {
  margin-right: 4px;
}

p.validation-valid {
  font-size: 1.1em;
  color: green;
}

p.validation-invalid {
  color: #bb1f34;
}

form p.validation-invalid {
  white-space: normal;
}
